.Cases {
    --preview-height: 16rem;

    width: 100%;
    height: 100%;
    float: left;
    padding-top: .5rem;
}

.best-drop {
    width: 96%;
    height: 7rem;
    float: left;
    background-color: var(--color-background);
    animation: opacity-fade .40s cubic-bezier(0.19, 0.02, 0, 0.98);
    padding: 0;
    border-radius: 0 .75rem .75rem 0;
    display: flex;
}

.best-drop .item-container {
    float: left;
    height: 100%;
    width: 10rem;
}

.best-drop .Item {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.best-drop .item-info {
    flex: 2;
    float: left;
    height: 100%;
    display: flex;
    padding: .5rem 1.5rem;
    flex-direction: column;
    font-size: 1.15rem;
    align-items: left;
}
.best-drop .item-info span {
    margin-bottom: .5rem;
}

.case-content {
    float: left;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.current-preview {
    width: 96%;
    height: var(--preview-height);
    background-color: var(--color-background);
    border-radius: .75rem;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
}

.current-list {
    flex: 2;
    padding-top: .35rem;
    width: 96%;
    float: left;
    overflow: hidden;
}

.current-list .tab-title {
    text-align: center;
}

.current-list.collections-list {
    display: flex;
    flex-direction: column;
}
.current-list.collections-list .items-list {
    flex: 2;
}
.current-list.collections-list .Item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.current-list.collections-list .Item .ItemImage {
    margin-top: -2.5rem;
    width: auto;
    height: 70%;
}

.current-list.collections-list .Item .ItemImage img {
    max-height: 100%;
}

.current-list.collections-list .Item .info {
    box-shadow: 0 -1px 30px 1px var(--color-shadow);
}

.current-list.collections-list .Item .name {
    background-color: transparent;
    backdrop-filter: blur(8px);
}

.current-list.case-contains .Item {
    opacity: 0;
    transition: all .55s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateY(.75rem);
}

@keyframes current-list-spawn {
    0% {
        transform: rotate3d(1, 0, 0, 50deg) perspective(1px) scale(1.10);
        opacity: 0;
    } 100% {
        transform: rotate3d(0, 0, 0, 0) perspective(0) scale(1);
        opacity: 1;
    }
}

.current-list.case-contains .Item.weapon.gold .ItemImage {
    animation: glow 3500ms infinite;
}

@keyframes glow {
    0% {
        filter: brightness(1);
    } 50% {
        filter: brightness(1.15);
    }
}

.choose-case {
    display: flex;
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.current-case-actions {
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    animation: opacity-fade 250ms;
}

.current-case-actions .case-action {
    padding: .25rem .5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: all 250ms;
}

.current-case-actions .case-action:hover {
    background-color: rgba(255, 255, 255, 0.0625);
}

.current-case-actions .case-action i {
    margin-right: .5rem;
}

.current-case-actions .case-action.favorite.active i {
    color: gold;
}

.current-case-main,
.dropped-item {
    width: 100%;
    height: 100%;
    float: left;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: ghost-spawn .55s cubic-bezier(0.19, 0.02, 0, 0.98);
}

.current-case-main {
    width: unset;
}

.current-case-main .image {
    cursor: pointer;
    width: 8rem;
    aspect-ratio: 1/1;
    border: 1px dashed var(--color-hover);
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    position: relative;
}

.current-case-main .image img {
    width: 90%;
    -webkit-user-drag: none;
}

.current-case-main .image span.price {
    position: absolute;
    background-color: var(--color-background);
    padding: .25rem;
    bottom: 0;
    right: 0;
    font-size: .90rem;
}

.current-case-main .image span.price .price-chunk {
    color: #fff !important;
}

.current-case-main .actions,
.dropped-item .item-info {
    flex: 2;
    height: 100%;
    padding: .75rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span.action-line .Selection > span {
    padding: .35rem 1rem;
}

.current-case-main .actions span.action-line,
.dropped-item .item-info span.action-line {
    width: 100%;
    float: left;
    font-weight: 500;
    font-size: 1.15rem;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
}

.current-case-roll {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.current-case-roll .roll {
    width: 98%;
    margin: 0 1%;
    border-radius: .75rem;
    height: 10rem;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.current-case-roll span.caret {
    z-index: 5;
    background-color: var(--color-accent);
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    box-shadow: 0 0 100px 20px rgba(var(--rgb-accent-color), .35);
    height: 100%;
    animation: opacity-fade .5s;
}

.CaseItem {
    margin: 0;
    float: none;
    height: 100%;
    aspect-ratio: 1.2/1 !important;
    margin-left: 4px;
    border: none;
    display: inline-block;
    transition: margin 5.5s cubic-bezier(0.19, 0.02, 0, 0.98);
    background: var(--color-background-secondary);
    position: relative;
    overflow: hidden;
}
.CaseItem .image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CaseItem img {
    max-width: 95%;
    filter: brightness(1.15);
    z-index: 1;
}
.CaseItem span.rarity-color {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.625rem;
    background-color: rgba(var(--background-shade), 1);
    bottom: 0;
    box-shadow: 0 -5px 2rem 1.5rem rgba(var(--background-shade), .45);
}

.current-case-roll .roll .CaseItem.first-item {
    margin-left: 100%;
}

@keyframes ghost-spawn {
    0% {
        opacity: 0;
        transform: translateY(.5rem);
    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropped-item .item-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropped-item .item-preview .Item {
    aspect-ratio: 1.5/1;
    height: 8rem;
    width: auto;
    margin: 0;
}

.dropped-item .item-info .Button {
    margin-right: .5rem;
}

@media screen and (max-width: 800px) {
    .Cases {
        --preview-height: 8.8rem;
    }

    .current-preview,
    .current-list {
        width: 100%;
        border-radius: 0;
    }

    .item-info,
    .current-case-main .actions {
        padding-right: 0 !important;
    }

    .Cases .tab-title {
        padding: .35rem 0;
    }

    .current-list.collections-list .Item .name {
        font-size: .8rem;
    }
}