.Profile {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.profile-widget {
    width: 100%;
    height: 10rem;
    overflow: hidden;
    position: relative;
}

.profile-background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
    background-position: 50% 50%;
    background-size: 100% auto;
}

.profile-background-image img {
    width: 100%;
    user-select: none;
    margin-top: -20%;
}

.user-info {
    padding: 0 2% 4rem 2%;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(25deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.84));
}

.user-info .user-main {
    width: 40%;
    float: left;
    height: 100%;
    padding-left: 1.5rem;
}

.user-info .user-image {
    width: 4rem;
    height: 4rem;
    float: left;
    border-radius: 50%;
    margin: 0.8rem 0;
    background-color: var(--color-background-secondary);
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 150ms;
}

.user-info .user-image:hover {
    border-color: var(--color-accent);
}

.user-info .user-image i {
    font-size: 3.7rem;
}

.user-info .user-meta {
    width: calc(100% - 4rem);
    height: 4.75rem;
    padding: 1.25rem 0 0 1rem;
    float: left;
}
.user-info .user-meta span {
    display: block;
    float: left;
    width: 100%;
    height: 50%;
}

.user-info .user-meta span.name {
    display: flex;
    align-items: flex-start;
}
.user-info .user-meta span.name input {
    width: 85%;
    margin-bottom: .25rem;
}
.user-info .user-meta span.balance {
    padding-top: .375rem;
}
.user-info .extra-info {
    width: 60%;
    height: 100%;
    float: left;
}

.user-info .extra-info .inventory-meta,
.user-info .extra-info .inventory-actions {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info .extra-info .inventory-actions {
    align-items: center;
}

.user-info .extra-info .inventory-meta span {
    display: block;
    float: left;
    width: 100%;
    margin: .15rem 0;
    display: flex;
    justify-content: center;
}

.user-info .extra-info .Button {
    font-size: 1rem;
    max-width: 75%;
    padding: 0.25rem 1.25rem;
}

.profile-content {
    position: absolute;
    width: 100%;
    height: calc(100% - 6rem);
    z-index: 5;
    top: 6rem;
    background-color: var(--color-background-secondary);
    padding: 0.35rem 2% 0 2%;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 0 50px 0px rgba(var(--rgb-accent-color), .15);
    float: left;
    display: flex;
    flex-direction: column;
}

.profile-inventory-tabs {
    width: 100%;
    flex: 2;
    overflow: hidden;
}

.profile-inventory-tabs .ItemPage {
    width: 100%;
    margin: 0;
}

.profile-showcase {
    width: 100%;
    height: 100%;
    float: left;
}

.showcase-row {
    width: 100%;
    padding: .35rem .25rem;
    float: left;
}

.showcase-row .showcase-row-title {
    width: 100%;
    float: left;
    padding: .45rem 0;
    font-size: 1.125rem;
    color: var(--color-secondary);
}
.showcase-row-items {
    width: 100%;
    float: left;
    margin-top: .45rem;
}
.showcase-description {
    width: 100%;
    float: left;
    padding: .15rem 2.5rem 1rem 1.5rem;
    font-size: 1.1rem;
}

.item-info-modal .align > .subtitle {
    flex-direction: column;
    align-items: center;
}

.item-info-modal .item-detailed-info {
    width: 100%;
    float: left;
    padding: 1rem 0;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    border-top: 1px solid rgba(255,255,255, 0.1);
}

.item-info-modal .item-detailed-info.storage-selector {
    border-bottom: none;
    padding-bottom: 0;
}

.item-info-modal .item-detailed-info.storage-selector .Dropdown {
    min-width: 90%;
}

.item-info-modal .item-detailed-info .detailed-line {
    width: 100%;
    float: left;
    margin-bottom: .5rem;
}

.item-info-modal .item-detailed-info .detailed-line .price-chunk {
    font-weight: 550;
}

.item-info-modal .item-detailed-info .detailed-line > span {
    width: calc(100% - 7rem);
    float: left;
    padding: 0 .5rem;
}

.item-info-modal .item-detailed-info .detailed-line > span.custom-scroll {
    max-height: 12rem;
    overflow: auto;
}

.item-info-modal .item-detailed-info .detailed-line .RarityShade,
.item-info-modal .item-detailed-info .detailed-line .QualityShade {
    color: rgba(var(--background-shade, (255, 255, 255)), 1);
}

.item-info-modal .item-detailed-info .detailed-line > span:first-child {
    width: 7rem;
    font-weight: 550;
}

.item-info-modal .item-detailed-info .detailed-line font.collection-name {
    width: 100%;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 550;
    margin-bottom: .5rem;
}

.item-info-modal .item-detailed-info .detailed-line font.collection-name:last-child {
    margin-bottom: 0;
}

.item-info-modal.RarityShade .align {
    background-image: linear-gradient(20deg, var(--color-background-modal) 0%, rgba(var(--background-shade), .08));
}

.item-info-modal .item-detailed-info .detailed-line .price {
    font-weight: 550;
    color: gold;
}

.item-info-modal .same-available {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 .5rem !important;
}

.item-multiple-options .item-detailed-info.storage-selector {
    border: none;
}

.storage-buy-modal .subtitle input {
    width: 50%;
    margin: .5rem 0 .5rem 0;
}

.storage-buy-modal .subtitle .warning {
    color: rgb(61, 255, 61);
    font-weight: 550;
}

.storage-buy-modal .subtitle .warning.error {
    color: red;
}

.profile-picture-modal .subtitle {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.profile-picture-modal .profile-picture-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.profile-picture-modal .profile-picture-preview {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    overflow: hidden;
}

img.profile-image {
    width: 100%;
    min-height: 100%;
    -webkit-user-select: none;
    user-select: none;
    object-position: 50% 0;
    object-fit: cover;
}

.profile-picture-modal .profile-picture-preview.no-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #fff;
    background-color: var(--color-background-modal);
    font-size: 1.15rem;
}

@media screen and (max-width: 800px) {
    .profile-widget, .profile-inventory,
    .profile-content, .Profile .ItemPage {
        width: 100%;
        border-radius: 0;
    }

    .profile-content, .Profile .ItemPage .current-page {
        padding: 0;
    }
}