.Item {
    --background-shade: 255, 255, 255;

    width: 9rem;
    height: 9rem;
    float: left;
    border: 1px solid var(--color-hover);
    position: relative;
    margin: .25rem;
    cursor: pointer;
    background-color: #4b525f;
}

.Item span.selected-mark,
.Item span.recent-mark {
    display: flex;
    position: absolute;
    width: 3rem;
    height: 2.5rem;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    color: lightgreen;
    animation: opacity-fade .15s;
}

.Item span.recent-mark {
    width: unset;
    height: unset;
    top: .5rem;
    right: .5rem;
    transition: all .15s;
    color: #fff;
    padding: .25rem .35rem;
    background-color: rgba(255, 0, 0, .75);
    font-size: 0.875rem;
}

.Item.selected span.recent-mark {
    opacity: 0;
    transform: scale(0);
}

.Item span.selected-mark i {
    font-size: 1.625rem;
}

.Item img {
    display: block;
    width: calc(100% - 40px);
    margin: 10px 20px 0 20px;
    float: left;
    -webkit-user-drag: none;
}

.Item .info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.Item .info .meta {
    width: 100%;
    float: left;
}

.Item .info .price,
.Item .info .quality {
    float: left;
    font-size: .90rem;
    color: #fff;
    background-color: var(--color-hover);
    padding: 3px 6px;
    text-align: center;
    border-bottom-right-radius: .5rem;
}

.Item .info .price .price-chunk,
.ShowcaseItem .meta .price .price-chunk {
    color: #fff !important;
}

.Item .info .quality {
    border-radius: 0;
    padding-right: 4px;
    border-right: 1px solid #4b525f;
}

.Item .info .name {
    width: 100%;
    float: left;
    font-size: .95rem;
    padding: 5px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: #4b525f;
}

.Item.weapon .name .weapon-name {
    font-size: .75rem;
}

.Item.weapon .ItemImage {
    width: 100%;
    margin: 0 0 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Item.weapon .ItemImage img {
    filter: brightness(1.10) drop-shadow(0 0 5px var(--color-shadow));
    max-width: 90%;
    width: auto;
    margin: 0;
    float: left;
}

.Item.weapon {
    background-image: radial-gradient(rgba(var(--background-shade), .6), var(--color-hover));
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Item.weapon::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: .5rem;
    height: 100%;
    background-color: rgba(var(--background-shade), 1);
}
.Item.weapon .info {
    height: 100%;
    justify-content: space-between;
}

.Item.weapon .name {
    line-height: .9rem;
    text-align: left;
    font-size: .9375rem;
    padding: 2px 0 .35rem .85rem;
    background: transparent;
}

.Item.weapon font.QualityShade, .ShowcaseItem font.QualityShade,
.Item.weapon font.PatternShade {
    color: rgba(var(--background-shade), 1);
}

.Item.weapon .meta {
    padding-left: .5rem;
}

.PatternShade.ruby { --background-shade: var(--color-ruby); }
.PatternShade.emerald { --background-shade: var(--color-emerald); }
.PatternShade.sapphire { --background-shade: var(--color-sapphire); }
.PatternShade.black-pearl { --background-shade: var(--color-black-pearl); }

.QualityShade.stattrack { --background-shade: var(--color-stattrack) }
.QualityShade.souvenir { --background-shade: var(--color-souvenir) }
.QualityShade.FN { --background-shade: var(--color-fn) }
.QualityShade.MW { --background-shade: var(--color-mw) }
.QualityShade.FT { --background-shade: var(--color-ft) }
.QualityShade.WW { --background-shade: var(--color-ww) }
.QualityShade.BS { --background-shade: var(--color-bs) }

.Item.gold, .RarityShade.gold { --background-shade: var(--color-gold); }
.Item.covert, .RarityShade.covert { --background-shade: var(--color-covert); }
.Item.classified, .RarityShade.classified { --background-shade: var(--color-classified); }
.Item.restricted, .RarityShade.restricted { --background-shade: var(--color-restricted); }
.Item.mil-spec, .RarityShade.mil-spec { --background-shade: var(--color-milspec); }
.Item.industrial, .RarityShade.industrial { --background-shade: var(--color-industrial); }
.Item.base, .RarityShade.base { --background-shade: var(--color-base); }
.Item.service, .RarityShade.service { --background-shade: 0,0,0; }

.items-list {
    --columns-count: 4;
    --items-margin: 0.25rem; 
    --item-width: calc(100% / var(--columns-count) - 2 * var(--items-margin));

    width: 100%;
    height: 100%;
    float: left;
}

.items-row {
    width: 100%;
    margin-top: 1px;
    float: left;
    display: flex;
    justify-content: left;
}

.items-row .Item {
    width: var(--item-width);
    height: unset;
    margin: var(--items-margin);
    aspect-ratio: 1.35/1;
}

.VoidShowcaseItem {
    --background-shade: var(--rgb-accent-color);

    width: calc(100% / 4 - 1rem);
    aspect-ratio: 1/1;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    position: relative;
    border: 2px dashed var(--color-main);
}
.VoidShowcaseItem:first-child,
.ShowcaseItem:first-child {
    margin: 0;
}
.VoidShowcaseItem span {
    color: var(--color-main);
    font-size: 1.5rem;
    font-weight: 550;
}
.VoidShowcaseItem .item-video-background {
    opacity: .25;
}

.item-video-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.item-video-background video {
    object-fit: cover !important;
}
.item-video-background .color-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    mix-blend-mode: overlay;
    opacity: 0.8;
    background: rgba(var(--background-shade), .85);
}

.ShowcaseItem {
    width: calc(100% / 4 - 1rem);
    aspect-ratio: 1/1;
    float: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
    position: relative;
    border: 1px solid var(--color-border);
}
.ShowcaseItem img {
    width: 90%;
    filter: drop-shadow(6px 6px 2px rgba(0,0,0,.65));
}
.ShowcaseItem .info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ShowcaseItem .info .quality {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 500;
    padding: .35rem 0;
    float: left;
}
.ShowcaseItem .info .meta {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(0deg, rgba(var(--background-shade), 0.5) 0%, transparent 100%)
}
.ShowcaseItem .meta .price {
    padding: .3125rem 0.375rem;
    float: left;
    font-weight: 550;
    color: var(--color-main);
    font-size: .9375rem;
}
.ShowcaseItem .meta .name {
    width: 100%;
    padding: 0 0.375rem .3125rem 0.375rem;
    float: left;
    color: var(--color-main);
    font-size: 1rem;
}
.ShowcaseItem .meta .name .weapon-name {
    font-size: .8rem;
}

@media screen and (max-width: 800px) {
    .Item.with-price img,
    .Item.collection img {
        margin-top: 0 !important;
    }

    .Item .name .weapon-name {
        font-size: .65rem !important;
    }

    .Item .name, 
    .Item .info .price,
    .Item .info .quality {
        font-size: .75rem !important;
        line-height: .7rem !important;
    }
}