.ripple {
    position: relative;
    overflow: hidden;
    --color-ripple: rgba(255, 255, 255, 0.15);
}

.Ripple {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.Ripple > span {
    position: absolute;
    background: var(--color-ripple);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
    animation: ripple .75s ease-out;
}

@keyframes ripple {
    to {
        -webkit-transform: scale(4);
        transform: scale(4);
        opacity: 0;
    }
}

@media screen and (max-width: 800px) {
    .Ripple > span {
        animation: ripple .5s ease-out;
    }
}